/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */



#container{
	width: 600px;
	margin: auto;
	border: 1px;
	border-style: solid;
	border-color: #937066;
	background-image: url('pics/coffey.jpg');
	background-repeat: no-repeat;
	background-color: #3F372E;
	
          
}
#topbar{
	background-color: #3F372E;
	text-align: right;
	color: #eae7d2;
	font-size: 10px;
	padding: 2px 0;
	font-style: italic;
	width: 600px;
	height: auto;
	font: Verdana;
	
	
}

#content{
	background-color: #E5E2C8;
	padding-top: 15px;
	font-family: Verdana, Times New Roman;
	font-size: 12px;
	color: #655D53;
	line-height: 1.5;
	overflow: auto;
}

#maincontent{
	width: 60%;
	padding-right: 0.5%;
	border-right: dashed 1px;
	float: left;
	background-color: #E5E2C8;
	margin-left: 0;
	padding-left: 5px;
}

#maincontent h1
{
	font-size: 25px;
	font-weight: normal;
	font-family: Times New Roman;
}
          
#subcontent{
	width: 35%;
           padding-top: 5px;
           margin-right:0;
           float: left;
           background-color: #E5E2C8;
           font-size: 10px;
           padding-left: 5px;
           margin-left: 5px;
}

#bottomcontent{
	font-style : italic;
	width: 600px;
	margin-bottom: 10px;
	font-size: 10px;
	float: left;
}
#maincontent img {
	float: left;
	margin-right: 5px;
	padding: 0px 5px;
}
#subcontent ul {
	list-style: none;

	
}
#subcontent h1 {
	font-size: 15px;
	color: #655D53;
	font-family: Times New Roman;
	font-weight: Normal;
}

#subcontent h2 {
	font-size: 10px;
	font-weight: normal;
	font-family: verdana;
}
#subcontent p {
	font-size: 12px;
}
#subcontent a {
	color: #655D53;
}
#subcontent a:visited{
	color: #5655D53;
}


#menu ul  {
	display: inline-block;
	color: white;
	margin-left: 5px;
	margin-top: 215px;
}
#menu li {
	display: inline-block;
	background-color: #655D53;
}
#menu a {
	color: #eae7d2;
	text-transform:  capitalize;
	text-decoration: none;
	font-size: 12px;
	font-family: Verdana;
	display: none;
}
#menu li:hover{
	background-color: #9c9084;
}
#menu li a {
	display: inline;
}

#menu ul li {
	text-align: center;
	display: inline-block;
	width: 100px;
	padding: 5px 
}
.active{
	background-color: #E5E2C8;

}
.active a{
	color: #9e8076;

}
